@import 'theme';

/* You can add global styles to this file, and also import other style files */
html, body {
  // overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

.titlebar {
  background-color: rgba(0, 0, 0, 0) !important;
}

.window-title {
  margin-left: 0px !important;
  font-family: "Segoe UI", sans-serif !important;
  font-size: 12px im !important;
}
