@import 'theme';

/* You can add global styles to this file, and also import other style files */
html, body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

#titlebar {
  // padding: 4px;
  display: block;
  position: fixed;
  height: 32px;
  width: 100%; /*Compensate for body 1px border*/
  // background: #254053;

  #favicon {
    height: 20px;
    margin-right: 7px;
  }
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#min-button {
  grid-column: 1;
}

#max-button, #restore-button {
  grid-column: 2;
}

#close-button {
  grid-column: 3;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}

#close-button:active .icon {
  filter: invert(1);
}

#restore-button {
  display: none !important;
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

.maximized #window-title {
  margin-left: 12px;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  margin-bottom: 25px;
  padding: 20px;
  // overflow-y: hidden;

  .container {
    margin-top: 25px;
  }
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
// .container {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   -webkit-background-size: cover; /* pour anciens Chrome et Safari */
//   background-size: cover; /* version standardisée */

//   .title {
//     color: white;
//     margin: 0;
//     padding: 50px 20px;
//   }

//   a {
//     color: #fff !important;
//     text-transform: uppercase;
//     text-decoration: none;
//     background: #ed3330;
//     padding: 20px;
//     border-radius: 5px;
//     display: inline-block;
//     border: none;
//     transition: all 0.4s ease 0s;

//     &:hover {
//       background: #fff;
//       color: #ed3330 !important;
//       letter-spacing: 1px;
//       -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
//       -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
//       box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
//       transition: all 0.4s ease 0s;
//     }
//   }
// }
