@import '~@angular/material/theming';
@include mat-core();

// Light theme
$light-primary: mat-palette($mat-light-green);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);

// Dark theme
$dark-primary: mat-palette($mat-light-green);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@media (prefers-color-scheme: light) {
  .mat-row:nth-child(odd){
    background-color: #f2f2f2;
  }
  @include angular-material-theme($light-theme);
}

@media (prefers-color-scheme: dark) {
  .mat-row:nth-child(odd){
    background-color: #616161;
  }
  @include angular-material-theme($dark-theme);
}
