.container {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

mat-card {
  margin-top: 10px
}

.core-list {
    height: calc(100vh - 180px);
    overflow-y: auto;
}

.filter_box {
  margin-top: -10px;
  height: 60px;
  width: 100%
}

table {
  width: 100%
}

mat-spinner {
  margin: auto;
}
