.container {
  max-width: 100%;

  .card {
    padding: 10px;

    .scroll {
      max-height: calc(100vh - 100px);
      overflow-y: auto;
    }
  }
}

.core-btn {
  margin: 5px
}

.input-group {
  margin-top: 10px;
}

table {
  width: 100%
}

.name {
  padding: 10px;
}

.progressbar {
  margin-right: 50px;
  margin-left: -50px;
  margin-top: 1rem;
}
