@import '../../styles/theme.scss';

.container {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

mat-card {
  margin-top: 10px
}

.filter_box {
  margin-top: -10px;
  height: 60px;
  width: 100%;
}

table {
  width: 100%
}

mat-spinner {
  margin: auto;
}

.recommended  {
  color: mat-color($mat-light-green, 500)
}

.dangerzone  {
  color: mat-color($mat-amber, 900)
}

mat-slide-toggle {
  margin-top: 15px;
  margin-left: 10px;
}
